// colors
$color-primary: #feb518;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #ddd;

$color-gray-dark: #777;
$color-gray-dark-2: #838383;
$color-gray-dark-3: #333;
$color-gray-dark-4: #666666;

$color-widget-title: #cccccc;
$color-widget-text: #888888;

$color-white: #fff;
$color-link: #008ee2;
$color-m: #394b58;

// font
$default-font-size: 1rem;
$default-line-height: 1.5;

// font family
$font-lato: 'Lato', sans-serif;
$font-osward: 'Oswald', sans-serif;
$font-dancingscript: 'Dancing Script', cursive;
$font-nunito: 'Nunito Sans', sans-serif;